<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
  <!-- ナビゲーションバー -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" layout:fragment="nav">
  <div class="container">
    <a class="navbar-brand " href="#">Yourhealth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mr-auto">　
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <th:block sec:authorize="isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" href="/mypage">My Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weightData">Weight Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data-record">Weight Data</a>
        </li>
        <li class="nav-item">
        <a th:href="@{/logout}" class="nav-link convert" data-method="post" th:data-_csrf="${_csrf.token}">Logout</a>
        </li>
        </th:block>
      </ul>

      <ul class="navbar-nav">
        <th:block sec:authorize="!isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        </th:block>
      </ul>

    </div>
  </div>
  </nav>
  <div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
    <ul>
      <li th:each="error : ${#fields.detailedErrors()}" class="error-message" th:text="${error.message}" />
    </ul>
  </div>
</body>

</html>