<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}">
    <title>Yourhealth</title>
</head>

<body>
    <div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span
            th:text="${message}"></span>
    </div>
    <!-- ナビゲーションバー挿入 -->
    <nav layout:replace="~{layouts/common :: nav}"></nav>
    
    <div layout:fragment="contents"></div>
    <footer class="footer pt-3 text-muted text-center text-small bg-dark text-white">
      <!--  <footer class="my-5 pt-5 text-muted text-center text-small th:if="${hasFooter}">-->
	    <p class="mb-1 text-white">&copy; 2021 TomBlack</p>
	    <ul class="list-inline pb-0 bg-dark text-white">
	      <li class="list-inline-item"><a href="#"><img class="d-block mx-auto py-2" src="../../images/icons/lock@2x.png" alt="privacy" width="32" height="45"></a></li>
	      <li class="list-inline-item"><a href="https://www.instagram.com/tomokiman9/"><img class="d-block mx-auto py-2" src="../../images/icons/Instagram_Glyph_Gradient_RGB.png" alt="instagramlogo" width="32" height="45"></a></li>
	      <li class="list-inline-item"><a href="https://tol-app.jp/s/sm88gnn7pe"><img class="d-block mx-auto py-2" src="../../images/icons/bulb.png" alt="support" width="32" height="45"></a></li>
	    </ul>
    </footer>
    
<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
        $(function(){
          convertMethod('.convert');
          $(".alert").fadeOut(5000);
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html> 
