<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ベース：レイアウト</title>
</head>
<body>
	<!-- 共通ヘッダー -->
	<header class="show-header wrapper">
			<h1><a href="https://tomblack-3rd.com/"><img class="logo" src="images/icons/logo.svg" alt="TomBlack"></a></h1>
			<nav>
				<ul class="concept">
					<li>
					  <a href="/concept">
					    <svg id="コンポーネント_1" data-name="コンポーネント 1" xmlns="http://www.w3.org/2000/svg" width="100" height="75" viewBox="0 0 120 93">
  						  <rect id="長方形_1" data-name="長方形 1" width="120" height="93" rx="4" fill="#bce0fd"/>
  						  <text id="Concept" transform="translate(60 51)" fill="#0a0b0b" font-size="20" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-40" y="0">Concept</tspan></text>
					    </svg>
					  </a>
					</li>
				</ul>
			</nav>
	</header>
	<!-- 置き換え場所 -->
	<div layout:fragment="content" align="center">
		ここを置き換える
	</div>
	<!-- 共通フッター -->
	<footer>
	  <div class="foot-wrap">
		<div class="footer-left">
			<h3><a th:href="@{/privacyPolicy}" href="/privacyPolicy">プライバシーポリシー</a></h3>
		</div>
		<div class="footer-right">
			<h3><a th:href="@{/contact}" href="/contact">お問い合わせ</a></h3>
		</div>
      </div>
      <small class="cmark">©️copyright 2022
      <a href="#">Your health.</a>
      </small>
	</footer>
</body>
</html>