<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>体重記録画面</title>
</head>
<body>
<div layout:fragment="contents">
	<div class="weight-records-index-wrapper">
	<!-- グラフのセクション -->
	<section class="full-weightGraph">
      <div class="flex-center">
        <div class="inner target-weight-container">
			<div class="m-5 col-2 h2 text-left">
				<p th:text="|目標体重:${targetWeight}kg|"></p>
			</div>
	    </div>
	  </div>
	      <div class="chart-container" style="position: relative; height:20vh; width:50vw">
		      <script th:inline="javascript">
				const map = new Map(Object.entries(/*[[${map}]]*/));
		    	
		    	// 全日付の取得後、配列化
		    	var ceatedDate = [];
		    	var createdDate = map.keys();
		    	
		    	// 全体重データの取得後、配列化
		    	var weightData = [];
		    	var weightData = map.values();
	    	  </script>
			  
	      	  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	      	  <canvas id="myChart" width="400" height="300"></canvas>
	
			  <script>
			  
			      const data = {
			      // labels: createdDate.toArray(),
			      labels: Array.from(createdDate),
			      datasets: [{
			      label: 'My Weightdata',
			      backgroundColor: 'rgb(255, 99, 132)',
			      borderColor: 'rgb(255, 99, 132)',
			      //data: weightData.toArray(),
			      data: Array.from(weightData),
			      }]
			  	  }; 
				
				  const config = {
					  type: 'line',
					  data: data,
					  options: {}
				  };
				  const ctx = document.getElementById('myChart');
				  const myChart = new Chart(ctx, config);
			   </script>
		   </div><!-- class="chart-container" style="position: relative; height:20vh; width:50vw"の閉じタグ -->
	
	</section>
	</div> <!-- class="weight-records-index-wrapper"の閉じタグ-->
	
	<!-- 習慣化チェックシートセクション -->
	<div class="balance-sheet-index-wrapper">
	<div class="d-flex flex-row">
	<section class="balance-sheet">
        <div class="d-flex float-start flex-column">
        <div class="p-2">
	  	<h2>健康習慣(週間)バランスシート</h2>
	  	</div>
	  	<div class="p-2">
	    <p>
	      【食事】<br>
	      <label><input type="checkbox" id="food1">良質な食事はできましたか？（糖質が多い炭水化物は極力減らし、良質なアブラを摂ることを心がけることができましたか？）<br></label>
    	  <label><input type="checkbox" id="food2">タンパク質、食物繊維の豊富な食事を積極的に摂ることができましたか？<br></label>
    	  <label><input type="checkbox" id="food3">ファーストフード・コンビニ食・揚げ物は控えられましたか？<br></label>
    	  <label><input type="checkbox" id="food4">水分は1日2L以上摂取することができましたか？<br></label>
    	  <label><input type="checkbox" id="food5">自然素材の食物を購入し、食事摂取することができましたか？<br></label>
    	  【運動】<br>
    	  <label><input type="checkbox" id="exercise1">1週間のうち、3〜5回以上(1回30分以上)適度な負荷をかけた運動をすることができましたか？<br></label>
    	  <label><input type="checkbox" id="exercise2">有酸素運動(ウォーキング・ジョギング・水泳など)と無酸素運動(筋トレ・短距離走など)を適度に取り入れることができましたか？<br></label>
    	  <label><input type="checkbox" id="exercise3">座りっぱなしの状態(1時間以上)を控えることができましたか？<br></label>
    	  <label><input type="checkbox" id="exercise4">正しい呼吸方法はできていますか？<br></label>
    	  <label><input type="checkbox" id="exercise5">SIT・HIITなどのインターバルトレーニングを取り入れることができましたか？<br></label>
    	  【睡眠】<br>
    	  <label><input type="checkbox" id="sleep1">起きてから3〜4時間後に眠気はありませんでしたか？さわやかに脳が働いていましたか？<br></label>
    	  <label><input type="checkbox" id="sleep2">寝付きが30分以上かかっていませんでしたか？<br></label>
    	  <label><input type="checkbox" id="sleep3">寝る時間と起きる時間は一定でしたか？<br></label>
    	  <label><input type="checkbox" id="sleep4">7〜8時間以上睡眠時間をしっかり確保できましたか？<br></label>
    	  <label><input type="checkbox" id="sleep5">寝る2時間前からスマホやパソコン、テレビを見るのを控えることができましたか？<br></label>
    	  
    	  <div>
			<input type="button" value="Check" id="checkButton">
		  </div>
	    </p>
	    </div>
	</section>
	
	<section class="balance-sheet-polar-area">
		<div class="flex-center">
	    <div class="polarArea-chart-container" style="position: relative; height:20vh; width:40vw">
		      
		      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		      <canvas id="myChartPolarArea" width="300" height="200"></canvas>
	      	  
	      	  <script>
	      	  	/* ---------- 初期のグラフ生成(デフォルト値 [0, 0, 0]) ---------- */
	      		// polarctx (canvasの生成)
			    let polarctx = document.getElementById('myChartPolarArea');
	      	  	
			 	// 3項目(食事・運動・睡眠)のtotalScoreの配列初期化
		  		let totalScoreList = [0, 0, 0];
	      	  	
			 	// テータの設定
				let polardata = {
		      		  labels: [
		      		    '食事',
		      		  	'運動',
		      		    '睡眠'
		      		  ],
		      		  datasets: [{
		      		    label: 'My First Dataset',
		      		    data: [totalScoreList[0], totalScoreList[1], totalScoreList[2]],
		      		    backgroundColor: [
		      		        'rgb(255, 99, 132, 0.3)',
		      		        'rgb(255, 205, 86, 0.3)',
		      		        'rgb(75, 192, 192, 0.5)'
		      		      ]	
		      		  }]
		      		};
			 	
				// グラフ全体の設定
				let polarconfig = {
			      		  type: 'polarArea',
			      		  data: polardata,
			      		  options: {
			      			responsive: true,
			      		    plugins: {
			      		      legend: {
			      		        position: 'top',
			      		      },
			      		      title: {
			      		        display: true,
			      		        text: '食事/運動/睡眠バランス'
			      		      }
			      		    }
			      		  },
				      		};
				// グラフの生成(Chart(polarctx キャンバス, polarconfig データ設定))
			    let myChartPolarArea = new Chart(polarctx, polarconfig);
			    /* ---------- ここより上までが初期のグラフ生成(デフォルト値 [0, 0, 0]) ---------- */
			    
				
				/* ------    ここから下はボタン押下後の処理    ------ */
		  		
		  		// ボタンがクリックされたときに{関数:buttonClick()}を呼び出す
		  		let checkButton = document.getElementById('checkButton');
				
				// ボタンをクリックしたら、グラフを再描画
				document.getElementById('checkButton').onclick = function() {
				  // すでにグラフ（インスタンス）が生成されている場合は、グラフを破棄する
				  if (myChartPolarArea) {
				    myChartPolarArea.destroy();
				  }
				  buttonClick(); // グラフを再描画
				}
				
				/* --- buttonClick()関数ここから ---*/
				function buttonClick() {
					
				  let totalFoodScore = 0;
		  		  let totalExerciseScore = 0;
		  		  let totalSleepScore = 0;
				  
		  		  for (let i = 1; i <= 5; i++) {
		  			if (document.getElementById('food' + i).checked) totalFoodScore += 2;
		  			if (document.getElementById('exercise' + i).checked) totalExerciseScore += 2;
		  			if (document.getElementById('sleep' + i).checked) totalSleepScore += 2;
		  		  }
				  
				  totalScoreList[0] += totalFoodScore;
				  totalScoreList[1] += totalExerciseScore;
				  totalScoreList[2] += totalSleepScore;
				  
				  console.log(totalScoreList);
					// テータの設定
						let polardata = {
				      		  labels: [
				      		    '食事',
				      		  	'運動',
				      		    '睡眠'
				      		  ],
				      		  datasets: [{
				      		    label: 'My First Dataset',
				      		    data: [totalScoreList[0], totalScoreList[1], totalScoreList[2]],
				      		    backgroundColor: [
				      		      'rgb(255, 99, 132, 0.3)',
				      		      'rgb(255, 205, 86, 0.3)',
				      		      'rgb(75, 192, 192, 0.3)'
				      		    ]	
				      		  }]
				      		};
						
							// グラフ全体の設定
							let polarconfig = {
						      		  type: 'polarArea',
						      		  data: polardata,
						      		  options: {
						      			responsive: true,
						      		    plugins: {
						      		      legend: {
						      		        position: 'top',
						      		      },
						      		      title: {
						      		        display: true,
						      		        text: '食事/運動/睡眠バランス'
						      		      }
						      		    }
						      		  },
						      		};
							
						 // let polarctx (canvasの生成)
					     let polarctx = document.getElementById('myChartPolarArea');
						 // グラフの生成(Chart(polarctx キャンバス, polarconfig データ設定))
					     let myChartPolarArea = new Chart(polarctx, polarconfig);
				}
				/* --- buttonClick()関数ここまで --- */
				
	      	  </script>
	      	  
		</div><!-- class="chart-container" style="position: relative; height:20vh; width:50vw"の閉じタグ -->
		</div>
	</section>
	</div>
	</div><!-- class="balance-sheet-index-wrapper"の閉じタグ -->
	
</div> <!-- layout:fragment="contents"の閉じタグ-->
</body>
</html>