<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<title>体重管理画面</title>
</head>
<body>
	<div class="weightData-index-wrapper text-center" layout:fragment="contents">
	<div class="container">
	  <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
	  <div class="row">
	    <main class="col-md-4 mx-auto">
	      <h2 class="text-center text-black">体重入力</h2>
			<form th:action="@{/weightData}" method="post">
				<div class="mb-3">
					<label for="presentWeight">今日の体重</label>
					<input class="form-control" type="number" style="text-align: right;" step="0.1" name="weightData" min="1", max="120">kg
				</div>
				  <input type="submit" value="入力" class="btn w-100 btn-outline-dark" />
			</form>
		</main>	
	  </div>
	  </div>
	</div>
	</div>
	
</body>
</html>