<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<title>カード詳細画面</title>
</head>
<body>
  <div class="menu-wrapper" layout:fragment="contents">
    
    <div class="container">
  <main>
    <div class="py-3 text-center">
      <img class="d-block mx-auto py-2" src="../../images/icons/bulb.png" alt="tomblacklogo" width="50" height="57">
      <h2>Your Training Menu</h2>
      <p class="lead">Making Efforts every day will surely produce results.</p>
    </div>

      <div class="col-md-12">
        <h2 class="mb-3 text-center">〜 Training Menu Details 〜</h2>
          <div class="row g-3">

            <div class="col-12">
              <h2>Category</h2>
              <h4 th:text="${training.category}"></h4>
            </div>
            
            <hr class="my-4">

            <div class="col-12">
              <h2>Title</h2>
              <h4 th:text="${training.title}"></h4>
            </div>
            
            <hr class="my-4">

            <div class="col-12">
              <h2>Contents</h2>
              <h4 th:text="${training.description}"></h4>
            </div>
            
          	<hr class="my-5">
          	
          	<div class="d-grid gap-2 d-md-flex justify-content-md-center">
          	  <form th:action="@{/user/menuEdit}" method="post">
                   <input type="submit" class="btn btn-primary me-md-5 mb-5" name="edit" value="編集">
                   <input type="hidden" name="id" th:value="${training.id}">
               </form>
			  <form th:action="@{/delete}" method="post">
                   <input type="submit" class="btn btn-danger mb-5" name="delete" value="削除">
                   <input type="hidden" name="id" th:value="${training.id}">
               </form>
			</div>
  </main>
</div>

</div><!-- <div class="menu-wrapper" layout:fragment="contents">の閉じタグ -->
    
</body>
</html>