<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
    <title>Your health</title>
  </head>
  <body>
  <div class="users-new-wrapper" layout:fragment="contents">
  <div class="container">
    <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
    <div class="row">
      <main class="col-md-4 mx-auto">
        <form method="get" th:action="@{/home}">
          <input type="submit" value="ログインする" class="btn w-100 btn-outline-light" />
        </form>
      </main>
    </div>  
  </div>
</div>
  </body>
</html>