@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  font-weight: 120; }

.p-form-top {
  height: 120px; }

.form-control, form-control-file {
  height: 45px; }

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000; }

#messages ul {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 4px;
  color: black; }
  #messages ul li {
    list-style: none;
    padding: 4px 8px;
    font-size: 18px; }

.error-message {
  color: red; }

.error-field {
  background-color: rgba(255, 192, 203, 0.8); }

nav.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-color: white;
  border-width: 0 0 1px;
  padding: 0; }
  nav.navbar a {
    color: #fff; }
  nav.navbar img {
    height: 40px; }

.pages-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: linear-gradient(140deg, #00f3ffA0, #0028b960 40%, #00f3ff60 60%, #00f3ffA0), url("/images/icons/topview3.jpg");
  animation: move 20s infinite both; }
  .pages-index-wrapper .container {
    padding-top: 80px; }
    .pages-index-wrapper .container h1 {
      font-family: '筑紫B丸ゴシック', sans-serif;
      font-size: 56px;
      margin-bottom: 20px; }
    .pages-index-wrapper .container h2 {
      margin-bottom: 60px; }

@keyframes move {
  0% {
    background-size: 100% auto; }
  50% {
    background-size: 140% auto; }
  100% {
    background-size: 100% auto; } }
.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/icons/loginpage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .users-new-wrapper main {
    padding-top: 80px; }

.weightData-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f5deb3;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .weightData-index-wrapper .container {
    padding-top: 40px; }
    .weightData-index-wrapper .container h2 {
      font-family: '筑紫B丸ゴシック', sans-serif;
      font-size: 56px;
      margin-bottom: 20px; }

.weight-records-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .weight-records-index-wrapper main {
    padding-top: 80px; }
  .weight-records-index-wrapper .target-weight-container {
    display: flex;
    justify-content: flex-start; }

.balance-sheet-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff; }

.mypage-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f5deb3;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .mypage-wrapper main {
    padding-top: 20px; }
  .mypage-wrapper .container {
    padding-top: 40px; }
    .mypage-wrapper .container h2 {
      font-family: '筑紫B丸ゴシック', sans-serif;
      font-size: 56px;
      margin-bottom: 20px; }

.home-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .home-index-wrapper main {
    padding-top: 20px; }
  .home-index-wrapper .container {
    padding-top: 40px; }
    .home-index-wrapper .container h2 {
      font-family: '筑紫B丸ゴシック', sans-serif;
      font-size: 56px;
      margin-bottom: 20px; }

.header-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh; }
  .header-section .container h2 {
    font-family: '筑紫B丸ゴシック', sans-serif;
    font-size: 50px;
    margin-top: 80px; }

.full-food {
  opacity: 0.8;
  background-color: #f0f8ff;
  background-image: url("/images/diet-food2.png");
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  padding: 60px 0 20px 0;
  height: 100vh;
  line-height: 1.7; }
  .full-food .flex-center {
    margin-top: 20vh; }

.full-exercise {
  opacity: 0.8;
  background-image: url("/images/diet-exercise2.png");
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  padding: 0px 0 0px 0;
  height: 100vh;
  margin: -158px 0 -158px 0;
  text-align: center;
  line-height: 1.7; }
  .full-exercise .flex-center {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding-bottom: 30vh; }

.full-sleep {
  opacity: 0.8;
  background-image: url("/images/diet-sleep2.png");
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  padding: 80px 0 20px 0;
  height: 100vh;
  line-height: 1.7; }
  .full-sleep .flex-center {
    margin-top: 20vh; }

.chart-container {
  display: flex;
  justify-content: end;
  margin: 5px 5px 5px 460px; }

.sheet-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end; }

/*# sourceMappingURL=style.css.map */
