<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>about</title>
</head>
<body>
  <div class="about-index-wrapper text-center" layout:fragment="contents">
	  <div class="container">
	  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active" data-bs-interval="3000">
		      <img src="/images/about-img1.png" class="d-block w-100" alt="img1">
		      <div class="carousel-caption d-none d-md-block">
		        <h3>yourhealthが目指しているもの...</h3>
		        <p>Some representative placeholder content for the first slide.</p>
		      </div>
		    </div>
		    <div class="carousel-item" data-bs-interval="3000">
		      <img src="/images/about-img2.png" class="d-block w-100" alt="img2">
		      <div class="carousel-caption d-none d-md-block">
		        <h3>一人ひとりに合ったやり方で...</h3>
		        <p>Some representative placeholder content for the second slide.</p>
		      </div>
		    </div>
		    <div class="carousel-item" data-bs-interval="3000">
		      <img src="/images/about-img3.png" class="d-block w-100" alt="img3">
		      <div class="carousel-caption d-none d-md-block">
		        <h3>機能性を考えた取り組みを...</h3>
		        <p>Some representative placeholder content for the third slide.</p>
		      </div>
		    </div>
		    <div class="carousel-item" data-bs-interval="3000">
		      <img src="/images/about-img4.png" class="d-block w-100" alt="img4">
		      <div class="carousel-caption d-none d-md-block">
		        <h3>継続させるために必要なノウハウを...</h3>
		        <p>Some representative placeholder content for the third slide.</p>
		      </div>
		    </div>
		    <div class="carousel-item" data-bs-interval="3000">
		      <img src="/images/about-img5.png" class="d-block w-100" alt="img5">
		      <div class="carousel-caption d-none d-md-block">
		        <h3>オリジナリティを尊重...</h3>
		        <p>Some representative placeholder content for the third slide.</p>
		      </div>
		    </div>
		  </div><!-- class="carousel-inner"の閉じタグ -->
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
	  </div><!-- id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"の閉じタグ -->
	  </div><!-- class="container"の閉じタグ -->
	  
	  <div class="concept-container">
	  <div class="d-flex flex-column bd-highlight">
	    <div class="p-2 bd-highlight">
	    <h1>Concept</h1>
	    </div>
	    <div class="p-2 bd-highlight">
	  	  <div class="row">
	        <div class="col-md-4 offset-md-1">
	          <img src="/images/concept-img.png" alt="見える化" width="640" height="420" border="0">
	        </div>
	    	<div class="col-md-4 offset-md-2 align-self-center">
		      <h3 class="font-weight-bold">yourhealth | Develop Story</h3>
		      <p class="text-center">シンプルでなじみやすく、「見える化」を重視。<br>
		         丁寧なフィードバックで続けやすく、<br>
		         習慣化しやすいようにサポートします。
		      </p>
	    	</div>
	      </div><!-- class="row"の閉じタグ -->
	    </div><!-- class="p-2 bd-highlight"の閉じタグ -->
	  </div><!-- class="d-flex flex-column bd-highlight mb-3"の閉じタグ -->
	  </div><!-- class="concept-container"の閉じタグ -->
	  
	  <div class="service-container">
	  <div class="d-flex flex-column bd-highlight mb-3">
	    <div class="p-2 bd-highlight">
	      <h1>Service</h1>
	    </div>
	    
	    <div class="p-2 bd-highlight">
	        <div class="row">
    		<div class="col-md-4 offset-md-2">
	        <div class="p-2 bd-highlight">
	          <img src="/images/service1.png" alt="体重管理" width="400" height="300" border="0">
	        </div>
	        </div>
	        <div class="col-md-4 align-self-center">
	        <div class="p-2 bd-highlight">
		  	  <h3 class="font-weight-bold">Service1: 体重管理</h3>
		  	  <p>スマートフォンで、簡単に体重管理。<br>
		  	  体重を入力して、日々の体重データを簡単に管理できる。</p>
		  	  
		  	</div>
		  	</div>
		  	</div><!-- "row"の閉じタグ -->
		</div>
		
		<div class="p-2 bd-highlight">
			<div class="row">
			<div class="col-md-4 offset-md-2 align-self-center">
		    <div class="p-2 bd-highlight">
		      <h3 class="font-weight-bold">Service2: 健康習慣チェックシート</h3>
		  	  <p>チェックリストにより、毎日の習慣で<br>
		  	  意識するポイントを振り返り、習慣化をサポートします。</p>
		    </div>
		    </div>
		    <div class="col-md-4">
		    <div class="p-2 bd-highlight">
		      <img src="/images/service2.png" alt="チェックシート" width="400" height="300" border="0">
		  	</div>
		  	</div>
		  	</div><!-- "row"の閉じタグ -->
		</div>
		
		<div class="p-2 bd-highlight">
			<div class="row">
			<div class="col-md-4 offset-md-2">
			<div class="p-2 bd-highlight">
			  <img src="/images/service3.png" alt="カードリスト" width="400" height="300" border="0">
			</div>
			</div>
			<div class="col-md-4 align-self-center">
			<div class="p-2 bd-highlight">
			   <h3>Service3: カードリスト</h3>
			   <p>トレーナーによるトレーニングメニューや<br>
			   栄養バランスを一元管理。質の高いメニューにより効率よく<br>
			   目標達成をサポートしていきます。</p>
			</div>
			</div>
			</div><!-- "row"の閉じタグ -->
			<div class="p-2 bd-highlight">
			  <p>その他、健康に関する情報コンテンツの配信中。</p>
		    </div>
		</div>
		
	  </div><!-- class="d-flex flex-column bd-highlight mb-3の閉じタグ -->
	  </div><!-- class="service-container"の閉じタグ -->
  </div><!-- class="about-index-wrapper text-center" layout:fragment="contents"の閉じタグ -->
</body>
</html>