<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>トレーニングメニュー登録画面</title>
</head>
<body>
<div class="menu-index-wrapper" layout:fragment="contents">
<div class="container">
<div class="row justify-content-center">
    <!-- ここからお試し -->
    <form th:action="@{/trainingMenu}" method="POST">
      <div class="col-6">
		  <div class="mb-3">
		    <label for="category" class="form-label">カテゴリー</label>
		    <input type="text" class="form-control" id="category" name="category" value="">
		  </div>
	  </div>
	  <div class="col-6">
		  <div class="mb-3">
		    <label for="title" class="form-label">タイトル</label>
		    <input type="text" class="form-control" id="title" name="title" value="">
		  </div>
	  </div>
	  <div class="col-6">
		  <div class="mb-3">
		    <label for="description" class="form-label">メニュー内容</label>
		    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
		  </div>
	  </div>
	  <button type="submit" class="btn btn-secondary">登録</button>
	</form>
    <!-- ここまで -->
</div>
</div>
</div>
</body>
</html>