<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>トレーニングメニュー登録画面</title>
</head>
<body>
<div class="menu-index-wrapper" layout:fragment="contents">
<div class="container">
    <!-- ここからお試し -->
  <div class="py-5 text-center">
    <h2>Training Menu 登録フォーム</h2>
  </div>
    <div class="col-md-8 offset-md-2 align-self-center">
      <h4 class="mb-3">入力項目</h4>
      <hr class="mb-4">
      <form class="needs-validation">
        <div class="mb-3">
          <!-- <label for="username">Username</label> -->
          <label class="mb-2" for="category">カテゴリー</label>
          <input type="text" class="form-control" id="category" placeholder="カテゴリー" required>
        </div>

        <div class="mb-3">
          <label class="mb-2" for="title">タイトル</label>
          <input type="text" class="form-control" id="title" placeholder="タイトル">
        </div>

        <div class="mb-3">
          <label class="mb-2" for="contents">メニュー内容</label>
          <textarea class="form-control" id="contents" placeholder="メニュー内容詳細" rows="8" maxlength="1000"　required style="resize: vertical;
  width:800px; height:200px;"></textarea>
        </div>

        <button class="mb-5 btn btn-primary btn-lg btn-block" type="submit">登録</button>
      </form>
    </div>
  </div>
</div>

    <!-- ここまで -->
</div>
</div>
</body>
</html>