<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>トレーニングメニュー登録画面</title>
</head>
<body>
<div class="menu-index-wrapper text-center" layout:fragment="contents">
<div class="container">
    <form th:action="@{/trainingMenu}" th:object="${form}" method="POST">
        <div class="form-group row">
            <label for="category" class="col-xs-offset-3 col-xs-2 col-form-label">category</label>
            <div class="col-xs-4">
                <input type="text" id="category" name="category" class="form-control" value="${category}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-xs-offset-3 col-xs-2 col-form-label">title</label>
            <div class="col-xs-4">
                <input type="text" id="title" name="title" class="form-control" value="${title}">
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-xs-offset-3 col-xs-2 col-form-label">内容</label>
            <div class="col-xs-4">
                <textarea id="description" name="description" class="form-control" rows="3" value="${content}"></textarea>
            </div>
        </div>
        <div class="col-xs-offset-5 col-xs-7">
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
</div>
</div>
</body>
</html>