<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorator="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link rel="stylesheet" href="/css/style1.css" th:href="@{/css/style1.css}">
</head>
<body>
  <header th:replace="commons/login-layout.html :: header"></header>
  <div align="center">
	<h1>Your health</h1>
	<p>ただ美しいだけでない</p>
	<p>機能性のある身体へ</p>
	
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="study" name="study">
			<input type="submit" value="movie" name="movie">
			<input type="submit" value="item" name="item">
			<input type="submit" value="ログアウト" name="logout" th:data-_csrf="${_csrf.token}">
		</form>
	</div>
  </div>
  <footer th:replace="commons/login-layout.html :: footer"></footer>
</body>
</html>