<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorator="~{commons/layout}">
<head>
<meta charset="UTF-8">
<title>マイページ画面</title>
</head>
<body>

	<!-- 置き換わる内容 -->
	<div layout:fragment="content">
	  <div align="center">
	  <h2>マイページ</h2>
		<p>
			<form th:action="@{/home}" method="get">
				<div>
					<label for="name">Name:</label>
					<input type="text" name="name">
					<input type="submit" value="Name変更">
				</div>
				<div>
					<label for="email">Email:</label>
					<input type="email" name="email" min="1" max="16">
					<input type="submit" value="Email変更">
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="text" name="password">
					<input type="submit" value="Password変更">
				</div>
				<div>
					<input type="submit" value="Log out">
				</div>
			</form>
		</p>
	  </div>
	</div>
		
</body>
</html>