<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<title>マイページ画面</title>
</head>
<body>
  <div class="mypage-wrapper" layout:fragment="contents">
  <div class="container">
    <div class="row">
      <main class="col-md-4 mx-auto">
      <h2 class="text-center text-black">マイページ</h2>
		<form th:action="@{/update-purpose}" method="post">
			<div class="m-2 h4 text-center">
				<label for="textarea" class="form-label">目的</label>
			</div>
			<div class="mb-8 m-2 text-center">
  				<textarea class="form-control" id="textarea" rows="3" th:value="${purpose}" name="purpose" style="resize: vertical;
  width:400px; height:200px;"></textarea>
			</div>
			<input type="submit" value="更新" class="my-4 btn w-100 btn-outline-dark" />
		</form>
		<form th:action="@{/update-target-weight}" method="post">
			
			<div class="m-2 h4 text-center">
				<label class="form-label text-black" for="targetWeight">目標体重</label>
			</div>
			<div class="mb-8 m-2 text-center">
				<input class="form-control" type="number" th:value="${targetWeight}" style="text-align: right;" step="0.1" name="targetWeight">
			</div>
			<div class="mb-4 text-center">
			kg
			</div>
			<div class="mb-4 m-2">
			<input type="submit" value="変更" class="btn w-100 btn-outline-dark" />
			
		</form>
      </main>
    </div>
    </div>
  </div>
  </div>	
</body>
</html>