<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<title>マイページ画面</title>
</head>
<body>
  <div class="mypage-wrapper" layout:fragment="contents">
  <div class="container">
    <div class="row">
      <main class="col-md-4 mx-auto">
      <h2 class="text-center text-black">マイページ</h2>
		<form th:action="@{/mypage}" method="post">
			<div class="mb-2">
				<label class="form-label text-black" for="session_name">Name</label>
				<input class="form-control" type="text" name="username" id="session_username" />
			</div>
			<div class="mb-2">
				<label class="form-label text-black" for="session_email">Email</label>
				<input class="form-control" type="text" name="email" id="session_email" />
			</div>
			<div class="mb-2">
				<label class="form-label text-black" for="sessin_password">Password</label>
				<input class="form-control" type="text" name="password" id="session_password" />
			</div>
			<input type="submit" value="設定変更" class="btn w-100 btn-outline-dark" />
		</form>
		<form th:action="@{/data-record}" method="post">
			<div class="mb-2">
				<label class="form-label text-black" for="targetWeight">目標体重</label>
				<input class="form-control" type="number" th:value="${targetWeight}" style="text-align: right;" step="0.1" name="targetWeight">kg
			</div>
			<input type="submit" value="変更" class="btn w-100 btn-outline-dark" />
		</form>
      </main>
    </div>
    </div>
  </div>
  </div>	
</body>
</html>