<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorator="~{commons/layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
<title>トップ画面</title>
</head>
<body>
	<header th:replace="commons/layout.html :: header"></header>
	<!-- 置き換わる内容 -->
	<div layout:fragment="content">
		<div align="center">
		<h1><font size="120">Your health</font></h2>
		<p><font size="80">ただ美しいだけでない<br>
			機能性のある身体へ
			</font>
		</p>
		<div>
			<form th:action="@{/signup}" method="get">
				<input type="submit" value="Sign up" name="signup">
			</form>
			<form th:action="@{/login}" method="get">
				<input type="submit" value="Log in" name="login">
			</form>
		</div>
		</div>
	</div>
	<footer th:replace="commons/layout.html :: footer"></footer>
</body>
</html>