<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <head>
    <title>トップ画面</title>
  </head>
  <body>
	<div class="pages-index-wrapper text-center" layout:fragment="contents">
	  <div class="container">
	    <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
	    <h1 class="text-light">Your health</h1>
	    <h2 class="text-light">ただ美しいだけでない<br>
	         機能性のある身体へ
	    </h2>
	    <div class="d-none d-lg-block d-xl-block d-xxl-block">
	    <div class="row justify-content-center">
	      <div class="col-3">
	        <a class="btn w-100 btn-outline-light" href="/signup">Sign up</a>
	      </div>
	      <div class="col-3">
	        <a class="btn w-100 btn-outline-light" href="/login">Log in</a>
	      </div>
	    </div>
	    </div>
	    <div class="d-block d-lg-none d-xl-none d-xxl-none">
	      <a class="btn w-100 btn-outline-light mb-3" href="/signup">Sign up</a>
	      <a class="btn w-100 btn-outline-light" href="/login">Log in</a>
	    </div>
	    </div>
	  </div>
	</div>
  </body>
</html>