<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<html>
<head>
<title>トレーニングメニュー</title>
</head>
<body>
  <div class="menu-index-wrapper text-center" layout:fragment="contents">
  <div class="container">
    <div class="row">
    <h1 class="section-headline mt-3 mb-5" th:text="${toptitle}"></h1>
		<div class="col-md-4 mb-4" th:each="trainingMenu : ${trainingMenus}" th:object="${trainingMenu}" style="width: 20rem;">
		<a th:href="@{/user/menu/{id}(id=${trainingMenu.id})}" class="card-link text-decoration-none">
		<div class="card text-center">
		  <div class="card-header">
		    TomBlack
		  </div>
		  <div class="card-body">
		    <h5 class="card-title" th:text="*{title}"></h5>
		    <p class="card-text" th:text="*{description}"></p>
		  </div>
		  <div class="card-footer text-muted">
		    2 days ago
		  </div>
		</div><!-- class="card text-center"の閉じタグ -->
		</a>
		</div><!-- class="col-md-4 card"の閉じタグ -->
    </div><!-- class="row"の閉じタグ -->
  </div><!-- class="container"の閉じタグ -->
</div><!-- layout:fragment="contents"の閉じタグ -->
</body>
</html>