<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	  layout:decorator="~{commons/layout}">
<head>
<meta charset="UTF-8">
<title>体重管理画面</title>
</head>
<body>

	<!-- 置き換わる内容 -->
	<div layout:fragment="content">
	  <div align="center">
	  <h2>データ</h2>
		<p>
			<form th:action="@{/home}" method="get">
				<div>
					<label for="targetWeight">目標体重:</label>
					<input type="text" name="targetWeight">kg
				</div>
				<div>
					<label for="presentWeight">今日の体重:</label>
					<input type="text" name="presentWeight" min="1", max="100">kg
				</div>
			</form>
		</p>
	  </div>
	</div>
		
</body>
</html>